.word-break-all {
  word-break: break-all !important;
}

// TODO: Update edx-bootstrap theme to incorporate these edits.
.btn, a.btn {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.btn-link {
  text-decoration: underline;
  &:hover {
    text-decoration: underline;
  }
}

.profile-page-bg-banner {
  height: 298px;
  width: 100%;
  background-image: url('./assets/dot-pattern-light.png');
  background-repeat: repeat-x;
  background-size: auto 85%;
}

.icon-visibility-off {
  height: 1rem;
  color: var(--pgn-color-gray-500);
}

.profile-page {
  .user-name {
    font-size: 22px;
    line-height: 28px;
  }
  .date-joined {
    font-size: 14px;
    line-height: 24px;
  }
  .edit-section-header {
    font-size: var(--pgn-typography-font-size-h6-base);
    display: block;
    font-weight: 400;
    letter-spacing: 0;
    margin: 0;
    line-height: 2.25rem;
  }

  label.edit-section-header {
    margin-bottom: calc(var(--pgn-spacing-spacer-base) * .5);
  }

  .profile-avatar-wrap {
    @media (--pgn-size-breakpoint-min-width-md) {
      max-width: 12rem;
      margin-right: 0;
      height: auto;
    }
  }

  .profile-avatar-button {
    position: absolute;
    left: 76px;
    top: 76px;
  }

  .profile-avatar-menu-container {
    background: rgba(0,0,0,.65);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    @media (--pgn-size-breakpoint-min-width-md) {
      background: linear-gradient(to top, rgba(0,0,0,.65) 4rem, rgba(0,0,0,0) 4rem);
      align-items: flex-end;
    }

    .btn {
      text-decoration: none;
      @media (--pgn-size-breakpoint-min-width-md) {
        margin-bottom: 1.2rem;
      }
    }

    .dropdown {
      @media (--pgn-size-breakpoint-min-width-md) {
        margin-bottom: 1.2rem;
      }

      .btn {
        color:var(--pgn-color-white);;
        background: transparent;
        border-color: transparent;
        margin: 0;
      }
    }
  }

  .profile-avatar {
    width: 7.5rem;
    height: 7.5rem;
    position: relative;

    @media (--pgn-size-breakpoint-min-width-md) {
      width: 7.5rem;
      height: 7.5rem;
    }

    .profile-avatar-edit-button {
      border: none;
      position: absolute;
      height: 100%;
      left: 0;
      width: 100%;
      bottom: 0;
      display: flex;
      justify-content: center;
      padding-top: .1rem;
      font-weight: 600;
      background: rgba(0,0,0,.5);
      border-radius:0;
      transition: opacity 200ms ease;

      @media (--pgn-size-breakpoint-min-width-md) {
        height: 4rem;
      }

      &:focus, &:hover, &:active, &.active {
        opacity: 1;
      }
    }
  }

  .certificate {
    background-color: #F3F1ED;
    border-radius: 0.75rem;
    overflow: hidden;
    border: 1px #E7E4DB solid;

    .certificate-type-illustration {
      position: absolute;
      top: 1rem;
      right: 1rem;
      bottom: 0;
      width: 15.15rem;
      opacity: .06;
      background-size: 90%;
      background-repeat: no-repeat;
      background-position: right top;
    }
  }
}

.field-headings{
  font-size: 14px;
  line-height: 20px;
}

.info-icon {
  width: 18px;
  height: 18px;
  padding-left: 0.125rem;
}

.max-width-32em {
  max-width: 32em;
}

.height-50vh {
  height: 50vh;
}

// Todo: Move the following to edx-paragon

.btn-rounded {
  border-radius: 100px;
}

.min-width-179px {
  min-width: 179px;
}

.max-width-304px{
  max-width: 304px;
}

.width-314px {
  width: 314px;
}

.w-90{
  max-width: 90%;
}

.width-24px{
  width: 24px;
}

.height-42px {
  height: 42px;
}

.rounded-75 {
  border-radius: 0.75rem;
}

.pt-40px{
  padding-top: 40px;
}

.pl-40px {
  padding-left: 40px;
}

.py-10px{
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-36px {
  padding-top: 36px;
  padding-bottom: 36px;
}

.px-120px {
  padding-left: 120px;
  padding-right: 120px;
}

.px-40px {
  padding-left: 40px;
  padding-right: 40px;
}

.g-15rem {
  gap: 1.5rem;
}

.g-5rem {
  gap: 0.5rem;
}

.g-1rem {
  gap: 1rem;
}

.g-3rem {
  gap: 3rem;
}

.color-black {
  color: #000;
}

.bg-color-grey-FBFAF9 {
  background-color: #FBFAF9;
}

.background-black-65 {
  background-color: rgba(0,0,0,.65)
}

.object-fit-cover {
  object-fit: cover;
}

.lh-36px {
  line-height: 36px;
}

.overflowWrap-breakWord {
  overflow-wrap: break-word;
}
