.skills-builder-modal {
  button[aria-label="Close"][type="button"]{
    color: $white;
  }
}

$breakpoint-medium: 992px;
@media (max-width: $breakpoint-medium) {
  .med-min-height {
    min-height: map-get($spacers, 6);
  }
  .skills-builder-modal {
    button[aria-label="Close"][type="button"]{
      position: relative;
      top: 0.5rem;
    }
  }
}

.chip-max-width {
  max-width: 16rem;
}
