@import "~@edx/edx-bootstrap/sass/edx/theme";
@import "~bootstrap/scss/bootstrap";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import "~@edx/frontend-component-site-header/src/scss/index";
@import "~@edx/frontend-component-footer/src/lib/scss/site-footer";

.word-break-all {
  word-break: break-all !important;
}
.w-auto {
  width: auto !important;
}

.container-fluid {
  max-width: 1200px;
}

.bg-banner {
  height: 12rem;
  margin-bottom: 6rem;
  background-size: cover;
  position: relative;
  .avatar {
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    width: 12rem;
  }
}

.editable-content-container {
  position: relative;
  transition: height .25s ease;
  display: flex;
  flex-direction: column;

  .editable-content {
    transition: opacity .25s ease;
  }

  .crossfade-enter {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    opacity: 0;
  }
  .crossfade-enter-active {
    opacity: 1;
  }
  .crossfade-exit {
    pointer-events: none;
    opacity: 1;
  }
  .crossfade-exit-active {
    opacity: 0;
  }
}