@import "~@edx/edx-bootstrap/sass/edx/theme";
@import "~bootstrap/scss/bootstrap";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import "~@edx/frontend-component-site-header/src/scss/index";
@import "~@edx/frontend-component-footer/src/lib/scss/site-footer";

.word-break-all {
  word-break: break-all !important;
}
.w-auto {
  width: auto !important;
}
.flex-shrink-0 {
  flex-shrink: 0 !important;
}

.container-fluid {
  max-width: 1200px;
}

.bg-banner {
  height: 12rem;
  margin-bottom: 6rem;
  background-size: cover;
  position: relative;
  
  .avatar {
    width: 12rem;
    height: 12rem;
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
  }
}



.editable-content-container {
  position: relative;
  transition: height .25s ease;
  display: flex;
  flex-direction: column;

  .editable-content {
    transition: opacity .25s ease;
  }

  .crossfade-enter {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    opacity: 0;
  }
  .crossfade-enter-active {
    opacity: 1;
  }
  .crossfade-exit {
    pointer-events: none;
    opacity: 1;
  }
  .crossfade-exit-active {
    opacity: 0;
  }
}

.avatar-edit-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,.5);
  opacity: 0;
  transition: opacity 200ms ease;
  border: solid 3px rgba(0,0,0,.8);
  &:focus, &:hover, &:active, &.active {
    opacity: 1;
  }
}

.btn-async-action {
  transition: background .2s linear;
  min-width: 6rem;

  .icon-state {
    transition: opacity .2s ease, width .2s ease;
    opacity: 0;
    width: 0;
  }
  
  .icon {
    font-size: 1.125rem;
  }

  &.btn-state-pending,
  &.btn-state-complete,
  &.btn-state-error, {
    .icon-state {
      width: 1.5rem;
      opacity: 1;
    }
  }
}
