$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import "~@edx/brand/paragon/fonts";
@import "~@edx/brand/paragon/variables";
@import "~@edx/paragon/scss/core/core";
@import "~@edx/brand/paragon/overrides";
@import "~@edx/frontend-component-header/dist/index";
@import "~@edx/frontend-component-footer/dist/footer";

@import "./profile/index";

@import url("http://fonts.cdnfonts.com/css/work-sans");

body {
  font-family: "work sans", sans-serif;
}

.theme-primary {
  background-color: #25a78e;
}
